<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/generator.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1><strong><a>Prompt Generator</a></strong></h1>

    <p>Welcome to the GPT Advance Prompt Generator! Here, you have the flexibility to <strong>create a customized prompt</strong> tailored to your specific requirements. Alternatively, you can opt to use the <strong>random feature</strong>, which will generate a prompt for you—ensuring not only variety but also an element of <strong>surprise and enjoyment</strong> in the process. Whether you have a <strong>specific idea</strong> in mind or are seeking <strong>inspiration</strong>, the GPT Advance Prompt Generator is designed to accommodate both your <strong>structured and spontaneous</strong> prompt needs.</p>

    <div class="container">
        <div class="left-section">
        <form method="post" action="/process" onsubmit="return validateForm()">
            <label for="user_input">Input:</label>
            <input type="text" name="user_input" id="user_input" required>
            <input type="submit" value="Generate">
        </form>
        </div>
        <div class="right-section">
        <form method="post" action="/random">
            <input type="submit" value="random">
        </form>
        </div>
    </div>

    {% if result %}
        <div class="result">
            <h2>generated prompt:</h2>
            <p id="response">{{ result }}</p>
            <button onclick="copyToClipboard()">Copy Prompt</button>
        </div>
    {% endif %}

    <script>
        function validateForm() {
            var userInput = document.getElementById("user_input").value.trim();
            if (userInput === "") {
                alert("Please fill in the input section.");
                return false; 
            }
            return true; 
        }

        function copyToClipboard() {
            var responseText = document.getElementById("response");
            var textArea = document.createElement("textarea");
            textArea.value = responseText.innerText;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand('copy');
            document.body.removeChild(textArea);
            alert("Response copied to clipboard!");
        }
    </script>
</body>
</html>
