/* Fonts */
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik.ttf") format("TrueType");
}

@font-face {
  font-family: "Caveat";
  src: url("../font/Caveat.ttf") format("TrueType");
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat.ttf") format("TrueType");
}

body {
  font-family: 'Caveat', cursive;
  font-family: 'Montserrat', cursive;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../icon/bg.jpg') center/cover no-repeat fixed;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 8%;
  line-height: 1.5;
}

h3, h4, h5, h6 {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 2.375rem;
  text-align: left;
  color: purple !important;
}

h1 a {
  color: purple !important;
}

h1 a:hover {
  color: rgb(204, 0, 255) !important;
}

h1 strong:hover{
  color: rgb(204, 0, 255) !important;
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.875rem;
  color: #7d7d00;
  text-align: left;
  margin: 10px 0;
}

h3 {
  font-size: 1.75rem;
  background-color: black;
  color: white;
}

h4 {
  font-size: 1.625rem;
}

a {
  color: rgba(255, 255, 0, 0.863);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 132, 0);
  text-decoration: none;
}

p {
  font-family: 'Rubik';
  text-align: justify;
  font-size: 0.95rem;
  border-radius: 10px; 
  padding: 10px;
  margin: 0px 0px 10px; 
  background-color: #00000065;
}

p:hover {
  color:rgb(254, 230, 203)
}

strong:hover{
  color:#ffd477;
}

#response {
  align-content: center;
  font-family: 'Rubik';
  text-align: justify;
  font-size: 0.94rem;
  line-height: 1.5;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 5% 10px 5%;
  width: 90%;
}

.image-preview {
  margin-top: 10px;
}

#preview-image {
  max-height: 200px;
  object-fit: contain;
  margin-top: 10px;
}

button {
  color: rgb(255 255 255);
  font-family: 'Rubik';
  font-size: 0.9em;
  background-color: #4b006e78;
  border: 2px solid #56565657;
  cursor: pointer;
  margin: 0.4%;
  padding: 1px;
  transition: transform 0.3s linear;
  border-radius: 10px;
  min-width: 80px;
}

button:hover {
    background-color: #5c0187e2;
    transform: scale(1.1);
}

form,
.input-radio {
  color: white;
  font-family: 'Rubik';
  font-size: 1rem;
  background-color: #3737378f;
  padding: 15px 20px;
  width: -webkit-fill-available;
  display: inline-flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  flex-wrap: wrap;
  flex-direction: column;
}

form:hover{
  background-color: #272727c6;
}

form input,
button#generate-button{
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    background-color: #352a3a;
    color: white;
    border-radius: 18px;
    font-size: 0.93rem;
    margin: 4px;
    transition: transform 0.2s linear;
}

input:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}

html::-webkit-scrollbar {
  display: none;
}

div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.prompting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  align-items: flex-start;
}

.center { 
  text-align: center; 
}

.container {
  display: flex;
  min-width: 270px;
  max-width: 600px;
  width: 40%;
  margin: 1.5%  auto;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #000000c9;
  transition: transform 0.2s linear;
  flex-wrap: wrap;
}


.container:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.welcome {
  display: block;
  max-width: 85%;
  align-self: center;
}

.container p {
  text-align: center;
}

.left-section,
.right-section {
  box-sizing: border-box;
  margin: 4px;
  text-align: center;
}

.input-radio{
  margin: 4px 0;
  justify-content: space-evenly;
  flex-direction: row;
}

.result {
  margin: 15px;
  display: block;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

select[name^="parameter"] {
  background-color: #352a3a;
  color: white;
  border-radius: 15px;
  font-size: 1rem;
  margin: 4px;
}

/* Tablet Styles */
@media only screen and (min-width: 250px) and (max-width: 768px) {
  body {
      margin: 8% 5%;
  }

  .container {    
    width: 85%;
    align-content: normal;
}

  .result {
      margin: 15px;
      text-align: center;
  }

  .loading {
      h1 {
          font-size: 1.2rem;
      }
  }
}
