html {
    display: block;
    position: static;
    max-height: fit-content;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../icon/bg.jpg') center/cover no-repeat fixed;
    background-color: #121212;
    color: #fff;
    position: sticky;
    margin-top: 12%;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

strong:hover{
    color:#ffd477;
}

a {
    color: aqua;
}

a:hover {
    color: rgb(183, 255, 0);
}

.main {
    text-align: center;
}

.welcome {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2121219c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

form {
    width: 65%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    background-color: #352a3a;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
    margin: 4px;
    transition: transform 0.2s linear;
}

input:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}

button {
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5%;
    transition: transform 0.2s linear;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #cc00ff;
}

#signupForm {
    display: none;
}

/* CSS for loading animation */
.loading-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.loading-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotateCircle 2s infinite linear;
}

.dot {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dot:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translate(20px) rotate(-0deg);
    background-color: #bf47ff;
}

.dot:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(72deg) translate(20px) rotate(-72deg);
    background-color: #952ccd;
}

.dot:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(144deg) translate(20px) rotate(-144deg);
    background-color: #622285;
}

.dot:nth-child(4) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(216deg) translate(20px) rotate(-216deg);
    background-color: #361746;
}

.dot:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(288deg) translate(20px) rotate(-288deg);
    background-color: #2b1b33;
}

@keyframes rotateCircle {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

/* Media queries for tablet and mobile styles */
@media only screen and (max-width: 768px) {
    body {
        margin: 5%;
    }

    form {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    body {
        margin: 2%;
    }

    form {
        width: 90%;
    }
}
