<!DOCTYPE html>
<html lang="en">

<head>
    <title>saved prompt</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- css  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/side.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mylib.css') }}">
    <!-- css end  -->

    <!-- js -->
    <script defer src="{{ url_for('static', filename='script/side_panel.js') }}"></script>
    <script defer src="{{ url_for('static', filename='script/library_copy.js') }}"></script>
    <script defer src="{{ url_for('static', filename='script/edit_prompt.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <!-- js end -->

    <!-- seo -->
    <meta name="description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">
    <meta name="keywords" content="prompt sanctuary, prompt generator, prompt library, advanced prompting, prompt refinement, prompt generation, writing prompts, creative writing, prompt ideas, writing inspiration, writing exercises, writing generator, story prompts, fiction prompts, writing tools, writing community, writing resources, idea generator, story ideas, writing challenges, writing help, narrative prompts, plot inspiration, storytelling aids, writer's block solutions, creative story ideas, plot development tools, character creation prompts, dialogue prompts, writing prompt app, daily writing prompts, inspiration for writers, story starter, creative writing exercises, fictional writing prompts, writing prompt generator online, flash fiction prompts, novel writing prompts, writing practice, creative brainstorming, storytelling generator, prompting, prompt, llm, llama, gemini, openai, chatgpt">    
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Prompt Sanctuary">
    <meta property="og:description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Prompt Sanctuary">
    <meta property="twitter:description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">
    <!-- seo end -->
</head>

<body>
    <!-- Side Panel -->
    <div class="side-panel" id="sidePanel">
        <!-- logo -->
        <div id="toggleButton" onclick="toggleSidePanel()" class="image-logo">
            <img id="preview-logo" alt="Image Preview" src="{{ url_for('static', filename='icon/sanctuary.png') }}">
        </div>
        <!-- logo end -->

        <!-- primary -->
        <div class="side-list" id="side-list">
            <ul id="side-top">
                <li onclick="window.location.href='{{ url_for('home') }}';"><strong>home</strong></li>
                <li onclick="window.location.href='{{ url_for('mylib') }}';"><strong>saved prompts</strong></li>
            </ul>
        </div>
        <!-- primary end -->

        <!-- logout -->
        <div class="side-list" id="bottom-list">
            <ul id="side-bottom">
                <li onclick="window.location.href='{{ url_for('logout') }}';"><strong>Logout</strong></li>
            </ul>
        </div>
        <!-- logout end -->
    </div>
    <!-- side panel ended -->

    <h1 id="toggleButton" onclick="toggleSidePanel()"><strong>Saved Prompts</strong></h1>

    <!-- edit popup -->
    <div id="editPopup">
        <h2>Edit Prompt</h2>
        <form action="/save_edit" method="post">
            <input type="hidden" name="random_val" id="editRandomVal">
            <label for="editTitle">Title:</label>
            <input type="text" id="editTitle" name="edited_title" placeholder="Enter title">
    
            <label for="editPrompt">Prompt:</label>
            <textarea id="editPrompt" name="edited_prompt" placeholder="Enter prompt"></textarea>
    
            <button id="saveEdit" type="submit">Save</button>
            <button id="cancelEdit" type="button">Cancel</button>
        </form>
    </div>
    <!-- edit popup ended -->

    <!-- main library -->
    <div class="main">
        <h3>Here are Your saved prompts:</h3>
        {% if saved_prompts %}
            <!-- prompt list -->
            <div id="imageBoxContainer" class="flex-container">
                <div class="prompt-container">
                    {% for prompt in saved_prompts %}
                    <div class="prompt-box">
                        <li><h4>{{ prompt[1] }}</h4></li>
                        <p>{{ prompt[2] }}</p>
                        <button class="copy-button" data-clipboard-text="{{ prompt[2] }}">Copy</button>
                        <button class="edit-button" onclick="openEditPopup('{{ prompt[0] }}', '{{ prompt[1] }}', '{{ prompt[2] }}')">Edit</button>
                        <form action="{{ url_for('delete_prompt') }}" method="post" style="display: inline;">
                            <input type="hidden" name="prompt_id" value="{{ prompt[0] }}">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- prompt list ended -->
        {% else %}
            <h4>You have No saved prompts yet.</h4>
        {% endif %}
    </div>
    <!-- main library ended -->

    <!-- footer -->
    <footer>
        <p>prompt sanctuary by <a href="https://github.com/1999AZZAR">azzar budiyanto</a></p>
    </footer>
    <!-- footer end -->
</body>
</html>
